.logo {
  display: flex;
  width: max-content;
  
  &__image {
    width: 270px;
    height: 45px;
    
    @include onTablet {
      width: 380px;
      height: 50px;
    }

    @include onDesktop {
      width: 580px;
      height: 90px;
    }
  }
}
