.page {
  @extend %mainText;
  font-family: 'DniproCity', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;

  scroll-behavior: smooth;

  &__header {
    padding: 20px 0;
    margin-bottom: 40px;

    @include onTablet {
      padding: 30px 0;
      margin-bottom: 70px;
    }

    @include onDesktop {
      padding: 50px 0;
      margin-bottom: 110px;
    }
  }

  &__section {
    margin-bottom: 80px;

    @include onTablet {
      margin-bottom: 135px;
    }

    @include onDesktop {
      margin-bottom: 225px;
    }
  }
}
