.page {
  @extend %mainText;
  font-family: 'DniproCity', sans-serif;

  scroll-behavior: smooth;

  &__header {
    margin: 53px 0 160px;
  }

  &__main {
    margin: 53px 0 225px;
  }

  &__post {
    margin-bottom: 225px;
  }
}
