%mainText {
  font-size: 30px;
  line-height: 40px;
  color: $primaryColor;
}

%postTitle {
  font-weight: 500;
  font-size: 55px;
  line-height: 52px;
  color: $primaryColor;
}

%postDate {
  font-size: 30px;
  line-height: 52px;
  color: $secondaryColor;
}

%listPostTitle {
  font-weight: 700;
  font-size: 45px;
  line-height: 46px;
  color: $secondaryColor;
}

%footerText {
  font-size: 24px;
  line-height: 28px;
  color: $primaryColor;
}
