body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.page {
  font-size: 30px;
  line-height: 40px;
  color: #000000;
}

.post__title {
  font-weight: 500;
  font-size: 55px;
  line-height: 52px;
  color: #000000;
}

.news__date, .post__date {
  font-size: 30px;
  line-height: 52px;
  color: #505050;
}

.news__subtitle, .news__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 46px;
  color: #505050;
}

.footer {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.page {
  font-family: "DniproCity", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  scroll-behavior: smooth;
}
.page__header {
  padding: 20px 0;
  margin-bottom: 40px;
}
@media (min-width: 481px) and (max-width: 1024px) {
  .page__header {
    padding: 30px 0;
    margin-bottom: 70px;
  }
}
@media (min-width: 1025px) {
  .page__header {
    padding: 50px 0;
    margin-bottom: 110px;
  }
}
.page__section {
  margin-bottom: 80px;
}
@media (min-width: 481px) and (max-width: 1024px) {
  .page__section {
    margin-bottom: 135px;
  }
}
@media (min-width: 1025px) {
  .page__section {
    margin-bottom: 225px;
  }
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 481px) and (max-width: 1024px) {
  .container {
    padding: 0 72px;
  }
}
@media (min-width: 1025px) {
  .container {
    padding: 0 120px;
  }
}

.header {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  width: max-content;
}
.logo__image {
  width: 270px;
  height: 45px;
}
@media (min-width: 481px) and (max-width: 1024px) {
  .logo__image {
    width: 380px;
    height: 50px;
  }
}
@media (min-width: 1025px) {
  .logo__image {
    width: 580px;
    height: 90px;
  }
}

.post__title {
  margin-bottom: 20px;
}
.post__date {
  display: block;
  margin-bottom: 10px;
}
.post__image {
  display: block;
  width: 100%;
  margin-bottom: 70px;
}
.post__content {
  margin-bottom: 35px;
}
.post__article:not(:last-child) {
  margin-bottom: 30px;
}
.news__title {
  width: 560px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 117px;
  border: 3px solid #505050;
  border-radius: 60px;
  text-transform: uppercase;
}
.news__item {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 63px;
}
.news__image {
  width: 50%;
  height: 300px;
  margin-right: 83px;
  border-radius: 50px;
}
.news__info {
  width: 50%;
}
.news__subtitle {
  margin-bottom: 23px;
}
.news__date {
  display: block;
}

.footer {
  width: 100%;
  background-color: #EDEDED;
}
.footer__content {
  height: 117px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__left {
  display: flex;
  align-items: center;
}
.footer__right {
  display: flex;
  align-items: center;
}
.footer__icon {
  width: 40px;
  height: 40px;
}
.footer__icon:not(:last-child) {
  margin-right: 60px;
}
.footer__icon--is-logo {
  width: 60px;
  height: 60px;
  margin-right: 40px;
}
.footer__label {
  margin-right: 70px;
}

/*# sourceMappingURL=main.css.map */
